{% extends "base.html.twig" %}

{% block title %}Validation de compte{% endblock %}

{% block content %}
  <div class="jeu-container">
    <div class="jeu-form-box">
      <h1>Validation de votre inscription</h1>
      <p>{{ message }}</p><br>
      <a href="index.php?page=connexion" class="btn-primary">Se connecter</a>
    </div>
  </div>
{% endblock %}
